@media(max-width: 480px) {
    .img__biznes-photo {
        position: relative;
        left: 0;
        height: 15em;
        width: 100%;
    }
    .article__gallery {
        margin-bottom: 5em;
    }
}