@media (max-width: 480px) {
    /********************  WELCOME PHOTO *********************/
    .welcome {
        height: 100vh;
        position: relative;
        top: -1em;
        margin: 0;
        padding: 0;
        z-index: 1;
    }
    .welcome__wrapper {
        position: relative;
        top: 6em;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .welcome__photo {
        height: 100%;
        width: 100%;
        max-width: 390px;
    }
    /******************** WELCOME PHOTO *********************/
    /*******************  SCROLL BUTTON *********************/
    .scroll__button-wrapper, .scroll__button-link {
        height: 4em;
        width: 4em;
        position: absolute;
        left: 50%;
        bottom: 4em;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .scroll__button {
        height: 2em;
        width: 2em;
        border-top: none;
        border-left: none;
        border-bottom: 4px solid white;
        border-right: 4px solid white;
        transform: rotate(45deg);
        animation: scrollAnimation 2500ms ease infinite;
        opacity: 0;
        z-index: 3;
    }
    @keyframes scrollAnimation {
        0% {
            opacity: 0;
            transform: translateY(-6em) rotate(45deg);
        }
        100% {
            opacity: 1;
            transform: translateY(0em) rotate(45deg);
        }
    }
    /*******************  SCROLL BUTTON *********************/
    /***************** DESCRIPTION SECTION ******************/
    .section {
        width: 100vw;
    }
    .section__header {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p__description-text {
        margin: 2em 1em 2em 1em;
    }
    .p__description-text-end {
        text-align: center;
    }
    /***************** SECTION DESCRIPTION ******************/
    /*********************** FOOTER *************************/
    .footer {
        width: 100vw;
        position: relative;
        top: 0;
        font-size: .8em;
        height: 2em;
    }
    .footer__wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer__text {
        font-size: .7em;
    }
    /*********************** FOOTER *************************/
}