@media(max-width: 480px) {
    body {
        line-height: 1.5em;
    }
    /****************************** TITLE ************************************/
    .div__page-title {
        position: relative;
        top: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /****************************** TITLE ************************************/
    /*********************** SECTION DESCRIPTION *****************************/
    .section {
        width: 100vw;
        position: relative;
        top: 2em;
    }
    .div__description-wrapper, .div__offer-wrapper {
        position: relative;
        top: 2em;
        width: inherit;
    }
    .div__description-title, .div__offer-title {
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description__title-text, .offer__title-text{
        font-size: 1.2em;
    }
    .div__description-paragraphs-wrapper {
        width: 90vw;
        margin: 2em 1em 2em 1em;
    }
    .span__bold {
        font-weight: bold;
    }
    .ul__service-list {
        list-style: none;
    }
    .li__service-text {
        margin: 0 0 1em 0;
    }
    .span__service-icon {
        margin-right: 1.5em;
    }
    .img__service-icon {
        width: 10%;
    }
    /*********************** SECTION DESCRIPTION *****************************/
    /************************** SECTION OFFER ********************************/
    .section__offer {
        position: relative;
        top: 6em;
        width: 100vw;
    }
    .div__offer-title {
        margin-bottom: 3em;
    }
    .div__gallery-slider-noclegi {
        width: 100vw;
    }
    .img__room-photo {
        height: 15em;
        width: 100vw;
    }
    .div__room-description-wrapper {
        width: 90vw;
        margin: 1em 1em 2em 1em;
    }
    .span__room-type, .span__room-price {
        display: block;
        width: 100%;
        text-align: center;
        letter-spacing: .1em;
    }
    .span__room-price {
        font-size: 1.2em;
    }
    .ul__list-of-services{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .li__services{
        display: inline;
        font-size: .9em;
    }
    /************************** SECTION OFFER ********************************/
}