body {
    margin: 0;
    color: rgb(80, 80, 80);
    background-color: rgb(248, 242, 242);
}

.logo__bialokosz {
    width: 40%;
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translate(-50%);
}

.logo__bialokosz__mobile {
    display: none;
}

.link {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
}

.icons__credit {
    display: none;
}

.mobile__hamburger-logo {
    display: none;
}

/********** MEDIA QUERIES FOR DEVICE MAX-WIDTH: 480px ****************/

@media(max-width: 480px) {
    /*********************** HAMBURGER MENU ***********************/
    .hamburger {
        width: 20px;
        height: 30px;
        top: 10px;
        left: 10px;
        position: fixed;
        transition-duration: .5s;
        z-index: 9999;
    }
    .hamburger__bar {
        position: absolute;
        top: 9px;
        height: 3px;
        width: 20px;
        background-color: black;
        content: '';
        transition-duration: .5s;
    }
    .hamburger__bar::before {
        position: absolute;
        top: -6px;
        height: 3px;
        width: 20px;
        background-color: black;
        content: '';
        transition-duration: .5s;
    }
    .hamburger__bar::after {
        position: absolute;
        top: 6px;
        height: 3px;
        width: 20px;
        background-color: black;
        content: '';
        transition-duration: .5s;
    }
    .hamburger__bar--active {
        transition-duration: .5s;
        background-color: transparent;
    }
    .hamburger__bar--active::before {
        transform: rotateZ(45deg) scaleX(1.25) translate(3px, 4px);
    }
    .hamburger__bar--active::after {
        transform: rotateZ(-45deg) scaleX(1.25) translate(3px, -5px);
    }
    .navigation__menu {
        position: fixed;
        margin: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        /*** Default color will be diffrent ***/
        width: 75vw;
        height: 100%;
        transition-duration: .8s;
        left: -100vw;
        z-index: 999;
    }
    .navigation__menu--active {
        transition-duration: .8s;
        left: 0;
    }
    .background{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(80,80,80, .5);
        z-index: 3;
        display: none;
    }
    .background--active{
        display: block;
    }
    .hamburger__mobile-logo-container {
        margin: 2em 0 0 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburger__mobile-logo {
        position: relative;
        display: block;
        width: 50%;
    }
    .navigation__menu-left, .navigation__menu-right {
        margin: 0;
        list-style-type: none;
        display: block;
    }
    .navigation__menu-links {
        display: block;
        margin-bottom: 1.5em;
        text-decoration: none;
    }
    .navigation__menu-links:nth-child(4) {
        margin: 0;
    }
    /*********************** HAMBURGER MENU ***********************/
    /***********************      LOGO      ***********************/
    .logo__bialokosz {
        display: none;
    }
    .logo__bialokosz__mobile {
        display: block;
        width: 45%;
        position: absolute;
        top: .2em;
        left: 50%;
        transform: translate(-50%);
    }
    /***********************      LOGO      ***********************/
    /******************** GALLERY SLIDER ********************/
    .div__gallery-slider {
        height: 15em;
        width: 100vw;
    }
    .div__gallery-slider-button-previous-wrapper, .div__gallery-slider-button-next-wrapper {
        position: absolute;
        z-index: 1;
        width: 3em;
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div__gallery-slider-button-previous-wrapper {
        left: 0.5em;
    }
    .div__gallery-slider-button-next-wrapper {
        right: 0.5em;
    }
    .span__gallery-button-previous {
        width: 1.5em;
        height: 1.4em;
        transform: rotate(45deg);
        border-bottom: 3px solid rgb(255, 255, 255);
        border-left: 3px solid rgb(255, 255, 255);
        opacity: .5;
    }
    .span__gallery-button-next {
        width: 1.5em;
        height: 1.4em;
        transform: rotate(45deg);
        border-top: 3px solid rgb(255, 255, 255);
        border-right: 3px solid white;
        opacity: .5;
    }
    .span__gallery-button-previous:hover, .span__gallery-button-next:hover {
        opacity: 1;
    }
    .div__photos-wrapper {
        height: 15em;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slider__photos-bialokosz, .img__photo {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 390px;
        max-height: 15em;
    }
    /******************** GALLERY SLIDER ********************/
    /*************** COMMON BLOCK AND ELEMENTS **************/
    .ul__service-list {
        list-style: none;
        margin-left: -1.5em;
    }
    .li__service-text {
        margin: 0 0 1em 0;
    }
    .span__service-icon {
        margin-right: .8em;
    }
    .img__service-icon {
        height: 1em;
    }
    .div__description-paragraphs-wrapper {
        width: 90vw;
        margin: 2em 1em 2em 1em;
    }
    .span__bold {
        font-weight: bold;
    }
    /******************** CONTACT SECTION  ******************/
    .invitation {
        position: relative;
        top: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact {
        position: relative;
        top: 3.5em;
    }
    .contact__details-party {
        display: flex;
        justify-content: space-around;
    }
    .contact__details-party-header, .contact__details-booking-header, .contact__details-address-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0 0 0;
    }
    .contact__details-booking-text, .contact__details-address-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__details-address-specific, .contact__details-text, .contact__details-phone, .contact__details-email {
        margin: 0.2em;
        text-align: center;
        width: 100%;
    }
    .contact__details-address-map-wrap {
        margin: 0;
    }
    .contact__details-address-map {
        position: relative;
        height: 15em;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .contact__details-social-media, .social__media {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .social__media {
        margin: 1em 0 0 0;
    }
    .contact__details-social-media-icon {
        height: 20%;
        width: 20%;
        margin: 0;
        padding: 0;
    }
    .footer {
        width: 100vw;
        position: relative;
        top: 7em;
        margin: 0;
        font-size: .8em;
        height: 2em;
    }
    .footer__wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer__text {
        font-size: .7em;
    }
}